.banner h1 {
    color: #800080;
    font-size: 50px;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
  }
  
  .banner a {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    background: #008080;
    padding: 10px 30px;
    margin-top: 10px;
  }
  .banner p {
    padding: 0 30%;
    text-align: center;
    color: #fff;
  }
  .banner {
    background: url(./../media/banner.jpg);
    height: 90vh;
    width: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    opacity: 0.8;
  }
  
  @media only screen and (max-width: 767px) {
    .banner h1 {
      font-size: 30px;
    }
    .banner p {
      display: none;
    }
    .banner a {
      padding: 5px 15px;
    }
  }
  