.column {
    float: left;
    width: 24%;
    padding: 5px;
  }
  
  .column img {
    opacity: 0.8;
    cursor: pointer;
    height: 25vh;
  }
  
  .column img:hover {
    opacity: 1;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .container {
    position: relative;
    display: none;
  }
  
  .closebtn {
    position: absolute;
    top: 10px;
    right: 70px;
    color: white;
    font-size: 35px;
    cursor: pointer;
  }
  
  .row {
    padding: 30px 60px;
  }
  
  #expandedPic {
    height: 70vh;
    width: 100%;
  }
  
  .container {
    padding: 5px 60px;
  }
  