body {
    font-family: poppins;
    margin: 0;
    padding: 0;
  
  }
  
  .row-flowers {
    display: flex;
    padding: 50px 60px;
  }
  .column-flowers {
    flex: 1;
    width: 50%;
  }
  
  @media screen and (max-width: 600px) {
    .row-flowers {
      padding: 20px 40px;
    }
    .column-flowers {
      width: 100%;
      margin-top: 10px;
    }
    .row-flowers,
    .column-flowers {
      display: block;
    }
  }
  
  .column-flowers:first-child {
    padding-right: 30px;
  }
  
  iframe,
  object,
  embed {
    max-width: 100%;
    max-height: 100%;
  }
  
  h1 {
    color: #043484;
  }
  
  .learn-more {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
    background: #fa6506;
    padding: 10px 30px;
    margin: 10px 0;
    float: right;
  }
  p {
    text-align: justify;
    line-height: 30px;;
  }
  
  .column-cards {
    float: left;
    width: 23%;
    padding: 0 10px;
  }
  
  .row-cards {
    margin: 0 -5px;
    padding: 30px 60px;
  }
  
  .row-cards:after {
    content: "";
    display: table;
    clear: both;
  }
  
  @media screen and (max-width: 600px) {
    .column-cards {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
  }
  
  .card-cards {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
  }
  
  .card {
    width: 250px;
    margin: 20px auto;
    border: 3px solid rgba(0, 0, 0, 0.125);
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
    opacity: 0.7;
    transition: all 0.5s linear;
  }
  .card:hover {
    opacity: 1;
    border: 3px solid #fa6506;
  }
  .card h3 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 10px;
    color: #fa6506;
  }
  .card img {
    width: 100%;
    height: 30vh;
  }
  .card p {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 23px;
    color: #666;
    transition: all 0.5s linear;
    text-align: justify;
  }
  .card:hover p {
    color: black;
  }
  .card .button {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: -15px;
  }
  .card .button button {
    font-size: 16px;
    border-radius: 10px;
    background: #fa6506;
    color: white;
    padding: 5px;
    border: 2px solid #fa6506;
    outline: 0;
  }
  