ul.main-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #043484;
  }
  
  ul.main-nav li {
    float: left;
  }
  
  ul.main-nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  ul.main-nav li a:hover:not(.active) {
    background-color: #fa6506;
  }
  
  ul.main-nav li a.active {
    background-color: #fa6506;
  }
  
  ul.main-nav li.right {
    float: right;
  }
  
  @media screen and (max-width: 600px) {
    ul.main-nav li.right,
    ul.main-nav li {
      float: none;
    }
  }
  #footer p{
    background-color: #043484;
    color: #fff;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
  }
  